<div class="p-grid p-justify-center">
    <div class="p-col-12 list-items-menu">
        <div class="item-menu" *ngFor="let menu of menuHeader.createMenu()">
            <div class="text-center">
                <i class="{{menu?.getIcon()}}"></i>
            </div>
            <div class="text-center">
                <span>{{menu?.getTitle()}}</span>
            </div>
        </div>
        <div class="item-menu" (click)="doLogout()">
            <div class="text-center">
                <i class="fas fa-sign-out-alt"></i>
            </div>
            <div class="text-center">
                <span>Sair</span>
            </div>
        </div>
    </div>
</div>