<div class="p-grid p-justify-center card">
    <div class="p-col-10 p-sm-6 p-md-4">
        <p-card>
            <div class="p-grid">
                <div class="p-col-12 text-center">
                    <i class="fas fa-car fa-4x" style="color: #007AD9;"></i>
                    <h2>Car Sales</h2>
                </div>
                <div class="p-col-12">
                    <label for="user">Usuário:</label>
                    <input class="p-col-12" id="user" type="text" pInputText />
                </div>
                <div class="p-col-12">
                    <label for="pass">Senha:</label>
                    <input class="p-col-12" id="pass" type="text" pInputText />
                </div>
                <div class="p-col-12">
                    <button class="p-col-12" pButton type="button" label="Entrar"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>