/* You can add global styles to this file, and also import other style files */

$primary-color: #252525 !important;
$secondary-color: #fff !important;
$tertiary-color: #0f4e61 !important;

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

body {
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
}

.p-card {
    background-color: $primary-color;
    color: $secondary-color;
}

.text-center {
    text-align: center;
}